<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div>
      <img src="./assets/day_veriblack_logo.svg">
    </div>

    <form action="/newAccount" method="post" onsubmit="submitForm(event)">
      <div>Username<input type="text" name="name" id="name" required></div>
      <div>Email<input type="text" name="email" id="email" required></div>
      <div>Phone<input type="text" name="phone" id="phone" required></div>
      <div>Password <input type="password" name="psword" id="psword" required></div>
      <div><input type="submit" value="Create new account"></div>
    </form>

    <footer>Copyright &copy; 2023 VeriBlack LLC. All Rights Reserved</footer>

    <script src="./js/index.js"></script>

  </body>
</html>